<!DOCTYPE html>
<html lang="fr">
<head>
    <link th:replace="~{/template/index:: link}" reel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <th:block th:replace="~{/template/index:: header}"></th:block>
    <h1 style="color: rgba(255, 187, 0, 0.671);">The List of Customers</h1>
    <a href="/add-costumer"><button type="button" class="btn btn-success">Add Customer</button></a> </div>
    <div class="container">
    
</body>
</html>